<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>

    <%- include("../partials/head") %>

        <link rel="stylesheet" href="/css/login.css">

</head>

<body>

    <%- include("../partials/header") %>

        <div class="login">
            <input id="user" class="input" type="text" minlength="4" placeholder="Usuario" required></input>

            <input id="pass" class="marginTop input" type="passowrd" minlength="4" placeholder="Contraseña"
                required></input>

            <input class="loginButton" type="button" value="Login" onclick="checkValues();">
        </div>

        <%- include("../partials/footer") %>

            <script>
                function checkValues() {
                    //userCredentials=user:pass:email;
                    let key = "userCredentials="
                    let cookies = document.cookie.split('=')

                    console.log(cookies[1].split(':'))
                }
                function showAlert(message) {
                    alert(message)
                }
                function get(id) {
                    return document.getElementById(id).value
                }
            </script>

</body>

</html>