<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>

    <%- include("../partials/head") %>

        <link rel="stylesheet" href="/css/login.css">

</head>

<body>

    <%- include("../partials/header") %>

        <div class="login">
            <div class="inputInfo">
                <!--<label class="inputInfoText">User</label>-->
                <input id="input" type="text" minlength="4" placeholder="Usuario" required></input>
                <span></span>
                <div id="dot"></div>

                <div id="inputInfoPassword">
                    <!--<label class="inputInfoText">Password</label>-->
                    <input id="input" type="passowrd" minlength="4" placeholder="Contraseña" required></input>
                    <span></span>
                    <span id="dot"></span>
                </div>
                <button class="loginButton">Login</button>
            </div>
        </div>

        <%- include("../partials/footer") %>

</body>

</html>