<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>

    <%- include("../partials/head") %>

        <link rel="stylesheet" href="/css/register.css">
</head>

<body>

    <%- include("../partials/header") %>

        <div class="register">
            <input class="input marginTop" type="text" minlength="4" placeholder="Usuario" required></input>

            <input class="input marginTop" type="email" minlength="4" placeholder="Email" required></input>

            <input class="input marginTop" type="passowrd" minlength="4" placeholder="Contraseña" required></input>

            <input class="input marginTop" type="passowrd" minlength="4" placeholder="Confirmar Contraseña"
                required></input>
                
            <a href="/"><button class="registerButton">Register</button></a>
        </div>

        <%- include("../partials/footer") %>

</body>

</html>